.App {
  /*text-align: center;*/
}

.navbar li{
  display: inline-block;
  padding: 10px;
}

.navbar li a{
  color: #ffffff;
  padding: 5px;
  text-decoration: none;
}

.navbar{
  padding: 5px;
  margin: 0;
  background-color: purple;
}

.navbar-right{
  text-align: right;
}

.footer{
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  background-color: black;
  color: white;
}

.error {
  color: #fc8181;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.25rem;
}

form {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
}

form label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  text-align: left;
  margin: 1rem 0 0.2rem;
}

input{
  width: 100%;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  color: white;
  border: 2px solid #4a5568;
  background-color: #2d3748;
  border-radius: 10px;
  outline: none;
}

input:focus{
  border-color: #4299e1;
}

input::placeholder{
  color: #a0aec0;
}



button {
  width: 105%;
  display: block;
  margin: 1rem 0;
  padding: 0.65rem 0.5rem;
  background-color: #4299e1;
  color: #1a202c;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #4299e1;
}

input.input-error{
  border-color: #fc8181;
}

button:disabled {
  opacity: 0.35;
}